.hero{
	position:relative;
    background: url(../assets/img/Hero.jpg);
	background-size:cover;
    height: 500px;
	
}

#masthead
{
	position:absolute;
	width: 40%;
	
	top:10%;
	left:30%;
	right:30%
}
#Hero-Banner
{
	position:absolute;
	width: 40%;
	
	top:50%;
	left:30%;
	right:30%;
	max-width:700px;
	
	text-align:center;
	font-size:16px;
	color:white;
	
}
#logo-Banner{
	position:absolute;
	left:10%;
	top: 70%;
	text-align:justify;
	 margin-left: auto; 
    margin-right: auto;
	width:80%;
	-ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}
#Hero-Banner h1{
	color:white;
	font-family: Akzidenz, Roboto ,"Gotham", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-weight:400;
}
#logo-Banner img
{
	height: 100px;
	 vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}